<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>workbox-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>
                     com.sun.jersey.spi.container.servlet.ServletContainer
                </servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>oneapp.incture.workbox.inbox.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<ejb-local-ref>
		<ejb-ref-name>RestBeanLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.inbox.services.RestBeanLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>WorkboxFacadeLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.inbox.services.WorkboxFacadeLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>AdminControlFacadeLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.services.AdminControlFacadeLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ProcessActionFacadeWsdlConsumerLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.services.ProcessActionFacadeWsdlConsumerLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ProcessFacadeLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.services.ProcessFacadeLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ReportFacadeLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.services.ReportFacadeLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>RuleManagementFacadeLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.services.RuleManagementFacadeLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>SlaManagementFacadeLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.services.SlaManagementFacadeLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>TaskFacadeLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.services.TaskFacadeLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>UserWorkloadFacadeLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.services.UserWorkloadFacadeLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>ConfigurationFacadeLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.services.ConfigurationFacadeLocal</local>
	</ejb-local-ref>
	
	<ejb-local-ref>
		<ejb-ref-name>E2EProcessViewServiceLocal</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<local>oneapp.incture.workbox.pmc.e2e.E2EProcessViewServiceLocal</local>
	</ejb-local-ref>
</web-app>